<!DOCTYPE html>
<html>
  <head>
    <title>GooOauth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to 'Login with Google', auth_at_provider_path(provider: :google) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
